body{
    color: #535865;
}
h1, h2, h3{
    color: #865B9A
}
h1{
   text-decoration: underline;
}

h1, h2{
    text-align: center;
}
#introduction{
    font-weight: bold;
}

li{
    list-style-type: square;
}

button{
    padding: 15px 40px;
    font-size: 30px;
}
button:hover{
    color: #865B9A;
}